.container {
    border: 1px solid black;
    width: 94%;
    height: 90%;
    position: relative;
    padding: 15px;
}
.name {
    border: 1px solid black;
    width: 15%;
    margin-bottom: 10px;
    padding: 8px;
}
input.name{
    border: 1px solid black;
    position: absolute;
    right: 15px;
    top: 12px;
    width: 46.5%;
    height: 7%;

}

.id {
    border: 1px solid black;
    width: 15%;
    margin-bottom: 10px;
    padding: 8px;
}
input.id {
    border: 1px solid black;
    position: absolute;
    right: 15px;
    width: 46.5%;
    top: 57px;
    height: 7%;
}

.grade {
    border: 1px solid black;
    width: 15%;
    margin-bottom: 20px;
    padding: 8px;
}
select {
    position: absolute;
    right: 15px;
    top: 35%;
    height: 13%;
    width: 50%;
    border: 1px solid black;
}
.save {
    width: 15%;
    position: relative;
    text-align: center;
}

